<div class="sidebar-wrapper">
      <div class="logo">
          <a href="http://www.bitcoinprice.ro" class="simple-text">
              <img src="assets/img/banner.png" width="196" height="36" />
          </a>
      </div>

      <ul class="nav">
          <li class="active">
              <a href="dashboard.html">
                  <i class="crypto-icons ti-btc"></i>
                  <p>Bitcoin</p>
              </a>
          </li>
          <li>
              <a href="dashboard.html">
                  <i class="crypto-icons ti-bch"></i>
                  <p>Bitcoin Cash</p>
              </a>
          </li>
          <li>
              <a href="dashboard.html">
                  <i class="crypto-icons ti-btg"></i>
                  <p>Bitcoin Gold</p>
              </a>
          </li>
          <li>
              <a href="dashboard.html">
                  <i class="crypto-icons ti-eth"></i>
                  <p>Ethereum</p>
              </a>
          </li>
          <li>
              <a href="dashboard.html">
                  <i class="crypto-icons ti-etc"></i>
                  <p>Ethereum Classic</p>
              </a>
          </li>
          <li>
              <a href="dashboard.html">
                  <i class="crypto-icons ti-xrp"></i>
                  <p>Ripple</p>
              </a>
          </li>
          <li>
              <a href="dashboard.html">
                  <i class="crypto-icons ti-ltc"></i>
                  <p>Litecoin</p>
              </a>
          </li>
      </ul>
</div>
